.container {
    height: 100vh;
    background-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.wrap {
    display: flex;
    height: 100vh;
    margin: 50px auto;
    justify-content: center;
}

.tarjeta-wrap {
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;
}

.tarjeta {
    width: 25vw;
    height: 50vh;
    background: #f29720;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

.adelante,
.atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.atras {
    transform: rotateY(180deg);
    padding: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.tarjeta-wrap:hover .tarjeta {
    transform: rotateY(180deg);
}

.card1 {
    background-image: url(../images/avion.jpeg);
    background-size: cover;
}

.card2 {
    background-image: url(../images/barco.jpg);
    background-size: cover;
}

.card3 {
    background-image: url(../images/carro.jpeg);
    background-size: cover;
}

.titulo {
    text-align: center;
}

.card {
    text-align: center;
}

.button-primary {
    margin-top: 10px;
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bmw {
    background-image: url(../images/bmw.jpeg);
    background-size: cover;
}

.tanque {
    background-image: url(../images/tranque.jpeg);
    background-size: cover;
}

.artillero {
    background-image: url(../images/artillero.jpg);
    background-size: cover;
}

.galeria {
    text-align: center;
    margin-left: 13%;
}

div.gallery {
    text-align: center;
    margin: 20px;
    float: left;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

div.gallery:hover {
    box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 1 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .galeria {
        margin-left: 10%;
    }
    div.gallery {
        margin-left: 10%;
        width: 30%;
    }
}

.formulario {
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 10px;
    border-color: red;
    border: 4px solid black;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    .galeria {
        margin-left: 5%;
    }
}

@media screen and(max-width: 768px) {
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    .card {
        width: 100%;
    }
    .tarjeta-wrap {
        width: 100%;
    }
    .tarjeta h3 {
        text-align: center;
        align-items: center;
        font-size: 12px;
        width: 100vw;
    }
    .tarjeta p {
        font-size: 10px;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .titulo {
        font-size: 12px;
    }
}